# Problem 1

In [2]:
import pandas as pd

# Data for states and area codes
states_data = [
    "Alabama,205", "Alaska,907", "Arizona,480", "Arkansas,479", 
    "California,209", "Colorado,303", "Connecticut,203", 
    "Delaware,302", "District of Columbia,202", "Florida,239"
]

# Data for phone numbers
phone_numbers = [
    "205-187-3946", "205-255-6983", "479-172-2272", "239-911-4469", 
    "205-938-8632", "480-364-9536", "205-662-8389", "479-742-6763", 
    "479-896-3819", "480-468-6769", "907-314-9167", "205-374-9162", 
    "479-142-6152", "907-146-9975", "479-117-4115", "907-683-7493", 
    "239-499-7963", "239-486-9335", "480-132-7865", "907-316-9144", 
    "205-187-3946", "205-255-6983", "205-938-8632", "205-662-8389", 
    "205-374-9162", "907-314-9167", "907-146-9975", "907-683-7493", 
    "907-316-9144", "480-364-9536", "480-468-6769", "480-132-7865", 
    "479-172-2272", "479-742-6763", "479-896-3819", "479-142-6152", 
    "479-117-4115", "239-911-4469", "239-499-7963", "239-486-9335"
]

state_area_codes = {state.split(",")[1]: state.split(",")[0] for state in states_data}

phone_data = pd.DataFrame({"Phone Numbers": phone_numbers})
phone_data["Area Code"] = phone_data["Phone Numbers"].str.split("-").str[0]

phone_data["State"] = phone_data["Area Code"].map(state_area_codes)

sorted_phone_data = phone_data.sort_values(by=["State", "Phone Numbers"]).reset_index(drop=True)

In [3]:
sorted_phone_data[["Phone Numbers"]]

   Phone Numbers
0   205-187-3946
1   205-187-3946
2   205-255-6983
3   205-255-6983
4   205-374-9162
5   205-374-9162
6   205-662-8389
7   205-662-8389
8   205-938-8632
9   205-938-8632
10  907-146-9975
11  907-146-9975
12  907-314-9167
13  907-314-9167
14  907-316-9144
15  907-316-9144
16  907-683-7493
17  907-683-7493
18  480-132-7865
19  480-132-7865
20  480-364-9536
21  480-364-9536
22  480-468-6769
23  480-468-6769
24  479-117-4115
25  479-117-4115
26  479-142-6152
27  479-142-6152
28  479-172-2272
29  479-172-2272
30  479-742-6763
31  479-742-6763
32  479-896-3819
33  479-896-3819
34  239-486-9335
35  239-486-9335
36  239-499-7963
37  239-499-7963
38  239-911-4469
39  239-911-4469

# Problem 2

In [5]:
import random
import string

# Generate a 20-character random string with characters a-z, A-Z, and 0-9
key = ''.join(random.choices(string.ascii_letters + string.digits, k=20))
print(key)

eiHhFE9hK23U0WSiBufo